.hero {
  position: relative;
  width: 1330px;
  height: 696px;
  margin: 0 auto;
  overflow: hidden;
}

/* LEFT BLACK AREA */
.left-bg {
  position: absolute;
  width: 720px;
  height: 696px;
  top: 0;
  left: 0;
  background: #e7e5e5;
}

/* RIGHT GREEN BACKGROUND IMAGE */
.bg {
  position: absolute;
  width: 720px;
  height: 696px;
  top: -2px;
  left: 720px;
  object-fit: cover;
}

/* TEXT */
.hero-text {
  position: absolute;
  width: 414px;
  height: 120px;
  top: 223px;
  left: 190px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 52px;
  color: black;
  font-weight: 400;
}

/* BUTTON */
.hero-btn {
  position: absolute;
  width: 244px;
  height: 54px;
  top: 455px;
  left: 190px;

  padding: 14px 26px;
  background: #68b738;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* CAN IMAGE */
.can {
  position: absolute;
  width: 552px;
  height: 499px;
  top: 141px;
  left: 558px;
}

/* ================= TABLET ================= */

@media (max-width: 1024px) {
  .hero {
    width: 100%;
    height: auto;
  }

  .left-bg {
    display: none;
  }

  .bg {
    position: relative;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
  }

  .can {
    position: relative;
    width: 300px;
    height: auto;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-text {
    position: static;
    text-align: center;
    margin-top: 100px;
  }

  .hero-btn {
    position: static;
    display: block;
    margin: 20px auto;
  }
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .hero {
    width: 100%;
    height: 750px; /* enough height for layout */
    position: relative;
    background: #f8f4f4; /* black bottom */
    overflow: hidden;
    margin-bottom: 0;
  }

  /* hide desktop bg */
  .left-bg {
    display: none;
  }

  /* GREEN BG */
  .bg {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
  }

  /* TEXT */
  .hero-text {
    position: absolute;
    width: 249px;
    height: 72px;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .hero-text h1 {
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
  }

  /* CAN IMAGE */
  .can {
    position: absolute;
    width: 280px;
    height: auto;
    top: 291px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  /* BUTTON */
  .hero-btn {
    position: absolute;
    width: 280px;
    height: 40px;
    top: 604px;
    left: 50%;
    transform: translateX(-50%);

    padding: 8px 44px;
    background: #68b738;
    color: #fff;
    border: none;
    font-size: 14px;
    z-index: 3;
  }

}
