.hero {
  position: relative;
  width: 1330px;
  height: 696px;
  margin: 0 auto;
  overflow: hidden;
}

/* LEFT BLACK AREA */
.left-bg {
  position: absolute;
  width: 720px;
  height: 696px;
  top: 0;
  left: 0;
  background: #e7e5e5;
}

/* RIGHT GREEN BACKGROUND IMAGE */
.bg {
  position: absolute;
  width: 720px;
  height: 696px;
  top: -2px;
  left: 720px;
  object-fit: cover;
}

/* TEXT */
.hero-text {
  position: absolute;
  width: 414px;
  height: 120px;
  top: 223px;
  left: 190px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 52px;
  color: black;
  font-weight: 400;
}

/* BUTTON */
.hero-btn {
  position: absolute;
  width: 244px;
  height: 54px;
  top: 455px;
  left: 190px;

  padding: 14px 26px;
  background: #68b738;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* CAN IMAGE */
.can {
  position: absolute;
  width: 552px;
  height: 499px;
  top: 141px;
  left: 558px;
}

/* ================= TABLET ================= */

@media (max-width: 1024px) {
  .hero {
    width: 100%;
    height: auto;
  }

  .left-bg {
    display: none;
  }

  .bg {
    position: relative;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
  }

  .can {
    position: relative;
    width: 300px;
    height: auto;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-text {
    position: static;
    text-align: center;
    margin-top: 100px;
  }

  .hero-btn {
    position: static;
    display: block;
    margin: 20px auto;
  }
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .hero-text h1 {
    font-size: 28px;
  }

  .can {
    width: 220px;
  }

  .hero-btn {
    width: 90%;
  }
}
