.map-section {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* MAP IMAGE */
.map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CARD */
.map-card {
  position: absolute;
  width: 570px;
  height: 201px;
  top: 95px;
  left: 110px;

  background: #ffffff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TITLE */
.map-card h3 {
  font-size: 24px;
  font-weight: 500;
  width: 200px;
}

/* ADDRESS */
.map-card p {
  font-size: 16px;
  color: #444;
  width: 200px;
  line-height: 24px;
}

@media (max-width: 1024px) {

  .map-card {
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

}

@media (max-width: 768px) {

  .map-section {
    height: auto;
  }

  .map-img {
    height: 300px;
  }

  .map-card {
    position: static;
    width: 100%;
    height: auto;
    padding: 100px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .map-card h3,
  .map-card p {
    width: 100%;
  }

}
