.programs {
  width: 100%;
  max-width: 1330px;
  margin: 80px auto;
  display: flex;
  gap: 40px;
  justify-content: center;
}

/* CARD */
.program-card {
  width: 570px;
  height: 374px;
  background: #f2f2f2;
  position: relative;
  padding: 40px;
}

/* HEADER */
.card-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* ICON CIRCLE */
.icon-bg {
  width: 100px;
  height: 100px;
  background: #68b738;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ICON IMAGE */
.icon-bg img {
  width: 80px;
  height: auto;
}

/* TITLE */
.card-header h2 {
  font-size: 36px;
  font-weight: 500;
}

/* TEXT */
.program-card p {
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  width: 467px;
}

/* BUTTON */
.link-btn {
  position: absolute;
  bottom: 40px;
  left: 40px;

  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

/* Hover */
.link-btn:hover {
  color: #68b738;
  gap: 30px;
}

@media (max-width: 1024px) {

  .programs {
    flex-direction: column;
    align-items: center;
  }

  .program-card {
    width: 90%;
    height: auto;
  }

  .program-card p {
    width: 100%;
  }

}

@media (max-width: 768px) {

  .program-card {
    margin-top: 0;
    padding: 10px;
  }

  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-header h2 {
    font-size: 24px;
  }

  .program-card p {
    font-size: 14px;
  }

  .link-btn {
    position: static;
    margin-top: 20px;
  }

}
